.FooterLink {
  font-family: 'Hiragino Kaku Gothic Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 16px;
  /* identical to box height, or 145% */

  letter-spacing: 0.033px;

  color: #FFFFFF;
}